body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: rgb(198, 173, 230);
    color: rgb(92, 90, 217);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: rgb(198, 173, 230);
    color: rgb(92, 90, 217);
    font-family: Arial;
    margin: 0px;
}