body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    color: maroon;
    font-family: Arial;
    margin: 10px 20px 48px;
}

div.menu {
    border: 5px solid rgba(128, 0, 0, 0.653);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: rgb(233, 183, 183);
    box-shadow: 0 0 15px rgb(65, 4, 4);
}

a {
    color: maroon;
    transition: 1s 0.8s;
}

a:link {
    color: maroon;
}

a:visited {
    color: rgb(156, 98, 226);
}

a:hover {
    color: rgb(60, 20, 97);
    text-decoration: underline;
    text-shadow: 5px 5px 15px rgba(140, 0, 255, 0.428);
    transition: 0.5s;
}

a:active {
    color: rgb(71, 78, 159);
    opacity: 0.9;
}

header {
    background-color: rgb(198, 173, 230);
    color: rgb(92, 90, 217);
    font-family: Arial;
    margin: 0px;
    padding: 15px;
}

footer {
    background-color: rgb(198, 173, 230);
    color: rgb(92, 90, 217);
    font-family: Arial;
    margin: 0px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}